---
// src/components/ExperienceItem.astro
interface Props {
  title: string;
  company: string;
  duration: string;
  achievements: string[];
  logoUrl: string;
}

const { title, company, duration, achievements, logoUrl } = Astro.props;
---
<div class="flex items-start gap-6 group">
  <div class="w-12 h-12 flex items-center justify-center bg-white/90 rounded-lg border border-gray-300 hidden sm:flex mt-1 p-2 shadow-sm">
    <img src={logoUrl} alt={`${company} logo`} class="max-w-full max-h-full object-contain"/>
  </div>
  <div class="flex-1 relative pb-8">
    <!-- Timeline vertical line -->
    <div class="absolute -left-9 top-1 h-full w-0.5 bg-gray-700 sm:hidden"></div>
     <!-- Timeline circle -->
    <div class="absolute -left-11 top-3 w-5 h-5 bg-gray-800 border-2 border-cyan-400 rounded-full transition-transform duration-300 group-hover:scale-125 sm:hidden"></div>

    <div class="mb-2">
    <h3 class="text-lg font-semibold text-white">{title}</h3>
    <div class="flex flex-col md:flex-row md:items-center md:gap-4 text-sm text-gray-400">
      <p class="font-medium text-cyan-400">{company}</p>
      <span class="hidden md:block">|</span>
      <p>{duration}</p>
    </div>
  </div>

  <ul class="list-none space-y-2 mt-4">
    {achievements.map((achievement) => (
      <li class="relative pl-5 text-sm text-gray-300 leading-relaxed">
        <span class="absolute left-0 top-1.5 w-1.5 h-1.5 bg-cyan-400 rounded-full"></span>
        {achievement}
      </li>
    ))}
  </ul>
</div>
